/* 
ctrl + / starts a comment 
*/
/* 
list of css selectors:
            -element selector: is going to select all instances of the given tag from our html page
                -p
                -body
*/


p, h1 {
/*  select all p tags */
/* use comma, to have this style effect multiple tags */
/* property: value; */
color:blue;
background-color:blueviolet;
}

body {
    background-color: rgb(237, 239, 241);
    /* in css there are three major ways to refer to color:
            - color name
            - rgb value 0~255 for each 
            - can use #000000 for color values*/
}


.header {
color: yellowgreen;
background-color: skyblue;
}

#unique {
/* id are accessed with the '#' symbole and the name of that it in this case 'unique'*/
text-decoration: under;
background-color: steelblue;
color: lightblue;
border-radius: 25px;}

.btn{
text-decoration: none;
border: 2px solid red;
background-color: bisque;
border-radius: 5px;

}

nav .btn {
text-shadow: 1px 1px 5px black;
}
nav > .btn {
    background-color: aquamarine;
}


/* 
   ! css hierarchy
     this allows css to use a priority list
    external style sheet:
       -element 
       -class
       -id
    internal style sheet: 
       -element
       -class
       -id
       -inline-styling
       -!important
       
    external vs internal style sheets 
    -external is a css file on its own page
    -internal is css commands in the html page
    
    roder of spacificity:
        1. !important
        2. inline style
        3. id selector
        4. class
        5. element
*/

.oos-class {
background-color: chocolate;
}
 h3 {
background-color: aliceblue;
}

#oos-id {
    background-color: gray;
}
a:visited {
    color: red;
}
a:hover {
    color: pink;
}
a:active {
    color: greenyellow;
}
a:link{
    color: purple;
    font-size: 1em;
}