.parent-container {
        background-color: beige;
        margin: 1em;
        border: 2px solid black;
        width: 100vw;}
        
        .child {padding: 25px;}

.child1 {border: 2px solid gold;
background-color: gold;

}

.child2 {border: 2px solid red;
        background-color: red;
}

.child3 {border: 2px solid blue;
            background-color: blue; 
}
            
.child4 {border: 2px solid green;
        background-color: green;
}

.child5 {border: 2px solid grey;
            background-color: grey;
}